* {
  margin: 0;
  padding: 0;
}

/*Style the board*/

#boardWrapper {
  width: 100vw;
  height: 100vh;
}

#topEdge {
  width: 100%;
  height: 2.5%;
  background-color: #864218;
}

#leftEdge {
  width: 2.5%;
  height: 95%;
  float: left;
  background-color: #864218;
}

#leftSide {
  width: 45%;
  height: 95%;
  float: left;
}

#midBar {
  width: 5%;
  height: 95%;
  float: left;
  background-color: #864218;
}

#barForBlack {
  width: 3.9vw;
  position: absolute;
    left: 50%;
  transform: translateX(-50%);
}

.dice {
  width: 3.9vw;
  height: 8vw;
  position: absolute;
    left: 50%;
    top: 50%;
  transform: translate(-50%, -50%);
}

#die0, #die1 {
  position: relative;;
  height: 50%;
  border: .2vw black solid;  
  background-color: white;
}

#die0 span, #die1 span {
  display: inline-block;
  position: absolute;
    left: 50%;
    top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 4vw;
}

#barForWhite {
  width: 3.9vw;
  position: absolute;
    left: 50%;
    bottom: 2.5%;
  transform: translateX(-50%);   
}

#rightSide {
  width: 45%;
  height: 95%;
  float: left;
}

#rightEdge {
  width: 2.5%;
  height: 95%;
  float: left;
  background-color: #864218;
}

#bottomEdge {
  width: 100%;
  height: 2.5%;
  clear: both;
  background-color: #864218;
}

.quad {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: yellow;
  overflow: hidden;
  text-align: center;
}

/*Create up pointing triangles*/

.triUpWrap {
  position: relative;
  height: 100%;
  width: 14%;
  overflow: hidden;
  display: inline-block;
  text-align: initial;
  z-index: 1000; 
}

.oddTri {
  background-color: orange;
}

.evenTri {
  background-color: brown;
}


.midTriUp {
  display: inline-block;
  width: 100%;
  height: 95%;
  position: absolute;
    bottom: 0;
  border-radius: 30% 30% 0 0; 
}

.leftTriUp, .rightTriUp {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: yellow;
  position: absolute;
  z-index: 100;
}

.leftTriUp {
 transform: translateX(-100%) rotate(7deg);
 transform-origin: bottom right;
}

.rightTriUp {
  transform: translateX(100%) rotate(-7deg);
  transform-origin: bottom left;
}

/*Create down pointing triangles*/

.triDownWrap {
  position: relative;
  height: 99%;
  width: 14%;
  overflow: hidden;
  display: inline-block;
  text-align: initial;  
  z-index: 1000; 
}

.midTriDown {
  display: inline-block;
  width: 100%;
  height: 95%;
  position: absolute;
    top: 0;
  border-radius: 0 0 30% 30%;
}

.leftTriDown, .rightTriDown {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: yellow;
  position: absolute;
  z-index: 100;
}

.leftTriDown {
 transform: translateX(-100%) rotate(-7deg);
 transform-origin: top right;
}

.rightTriDown {
  transform: translateX(100%) rotate(7deg);
  transform-origin: top left;
}

.positioner {
  height: 100%;
  width: 3.9vw;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1000;
}

.positionerBottom {
  position: absolute;
    bottom: 0;
    left: 50%;  
  transform: translateX(-50%);
}

.positionerBottom .ballHolder {
  position: absolute;
    bottom: 0;    
  text-align: center;  
}

.positionerTop {
  position: absolute;
    top: 0;
    left: 50%;
  transform: translateX(-50%);
}

.positionerTop .ballHolder {
  position: absolute;
    top: 0;    
  text-align: center;  
}

.chip {
  height: 3.5vw;
  width: 3.5vw;
  border: .2vw solid black;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}

.blackChip {
  background-color: #766F6F;
}

.whiteChip {
  background-color: #F6F2F2;
}

.grabbable {
  cursor: -webkit-grab;  
  cursor: -moz-grab;
  cursor: -ms-grab;
}

.grabbed {
  cursor: -webkit-grabbing;  
  cursor: -moz-grabbing;  
  cursor: -ms-grabbing;
}

.dropZone {
  background-color: lightgreen;
}

.disableChildEvents * {
  pointer-events: none;
}